NODE_ENV=development
PORT=8000
RAVEN_PATH_SERVER=https://0b74848c2fc14a298467f7f81cc5b143:74d53a6e5e1346adac07cf775dbcd8de@sentry.io/180803
RAVEN_PATH_CLIENT=https://0b74848c2fc14a298467f7f81cc5b143@sentry.io/180803
FACEBOOK_CLIENT_ID=179466602587931
FACEBOOK_CLIENT_SECRET=e91665cbb86ac8a8d4b659832788bda4
FACEBOOK_CALLBACK_URL=http://localhost:8000/auth/facebook/callback
COOKIE_SECRET=654E67E9B2498AED72A57BBB678CA
AWS_ACCESS_KEY_ID=AKIAIMDHPSTMFQD3PXFA
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-1
AWS_S3_BUCKET=sharemykitchen